.finance-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border: 0;
    border-radius: 16px;
    background-color: #616161;
    padding: 32px;
    margin: 16px;
    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        margin: 8px;
    }
}
.finance-overview-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin: 8px;
    @media (max-width: 1200px) {
        padding: 16px 16px 0;
        margin: 8px;
    }
}